/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000; /* Black background */
    color: #FFFFFF; /* White text */
    font-family: 'Helvetica', sans-serif;
}

.container {
    text-align: center;
    padding: 30px;
    border-radius: 20px; /* Rounded corners */
    background-color: #1
